<footer>
    <p>Created by Lindsey Bowen -- Copyright {{getCurrentYear}}</p>
</footer>

<!--When something is put inside of curly braces that is NOT clearly a partial, handlebars will first look for a helper with that name (in this case, it is in server.js).  If there is no helper, it will then look for a piece of data with that "getCurrentYear" name-->